@using NWebsec.Mvc.Extensions
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    @Html.ReferrerPolicyMetaTag(policy => policy.NoneWhenDowngrade)
</head>
<body>
<div>
      
</div>
</body>
</html>