<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="nwebsec">


      <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
      <section name="sessionSecurity" type="NWebsec.SessionSecurity.Configuration.SessionSecurityConfigurationSection, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" allowDefinition="MachineToApplication" />
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--<uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>-->
  <system.web>
    <!--<trust level="Medium" />-->
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState sessionIDManagerType="NWebsec.SessionSecurity.SessionState.AuthenticatedSessionIDManager, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>








    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
      <redirectValidation enabled="true">
        <add allowedDestination="https://www.nwebsec.com" />
        <add allowedDestination="https://nwebsec.codeplex.com/path" />
      </redirectValidation>
    </httpHeaderSecurityModule>
    <sessionSecurity xmlns="http://nwebsec.com/SessionSecurityConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/SessionSecurityConfig.xsd">
      <sessionIDAuthentication enabled="true" useMachineKey="false" authenticationKey="FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF" />
    </sessionSecurity>
  </nwebsec>
  <location path="Hpkp">
    <nwebsec>
      <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
        <securityHttpHeaders>
          <public-Key-Pins httpsOnly="false" max-age="00:00:05">
            <certificates>
              <add thumbprint="99 22 00 aa e9 0a 81 2c 49 2d 49 75 45 b0 1f 0a f2 77 a8 52" />
            </certificates>
            <pins>
              <add pin="d6qzRu9zOECb90Uez27xWltNsj0e1Md7GkYYkVoZWmM=" />
            </pins>
          </public-Key-Pins>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <location path="WithConfig">
    <nwebsec>
      <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <setNoCacheHttpHeaders enabled="true" />
        <redirectValidation enabled="false" />
        <x-Robots-Tag enabled="true" noIndex="true" />
        <securityHttpHeaders>
          <strict-Transport-Security max-age="00:05:00" />
          <x-Content-Type-Options enabled="true" />
          <x-Download-Options enabled="true" />
          <x-Frame-Options policy="Deny" />
          <x-XSS-Protection policy="FilterEnabled" />
          <content-Security-Policy enabled="true">
            <default-src self="true" />
          </content-Security-Policy>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <!-- ReSharper disable WebConfig.RedundantLocationTag -->
  <location path="Redirect/ValidationDisabledDangerousSite">
    <nwebsec>
      <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <redirectValidation enabled="false" />
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <location path="CspConfig">
    <nwebsec>
      <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <securityHttpHeaders>
          <content-Security-Policy enabled="true">
            <default-src self="true" />
            <script-src>
              <add source="configscripthost" />
            </script-src>
            <media-src>
              <add source="fromconfig" />
            </media-src>
          </content-Security-Policy>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <location path="CspUpgradeInsecureRequests">
    <nwebsec>
      <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
        <redirectValidation enabled="false" />
        <securityHttpHeaders>
          <content-Security-Policy enabled="true">
            <upgrade-insecure-requests enabled="true" />
          </content-Security-Policy>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <location path="Content">
    <nwebsec>
      <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <suppressVersionHttpHeaders enabled="true" />
        <setNoCacheHttpHeaders enabled="true" />
        <securityHttpHeaders>
          <content-Security-Policy enabled="true">
            <default-src self="true" />
          </content-Security-Policy>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <location path="CspFullConfig">
    <nwebsec>
      <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
        <securityHttpHeaders>
          <content-Security-Policy enabled="true">
            <base-uri>
              <add source="https://w-w.üüüüüü.de/baseuri?p=a;b," />
            </base-uri>
            <child-src>
              <add source="childsrcconfig" />
            </child-src>
            <connect-src>
              <add source="connectsrcconfig" />
            </connect-src>
            <default-src>
              <add source="defaultsrcconfig" />
            </default-src>
            <font-src>
              <add source="fontsrcconfig" />
            </font-src>
            <form-action>
              <add source="formactionconfig" />
            </form-action>
            <frame-ancestors>
              <add source="frameancestorsconfig" />
            </frame-ancestors>
            <frame-src>
              <add source="framesrcconfig" />
            </frame-src>
            <img-src>
              <add source="imgsrcconfig" />
            </img-src>
            <media-src>
              <add source="mediasrcconfig" />
            </media-src>
            <object-src>
              <add source="objectsrcconfig" />
            </object-src>
            <sandbox enabled="true" allow-forms="true" allow-pointer-lock="true" allow-popups="true" allow-same-origin="true" allow-scripts="true" allow-top-navigation="true" />
            <script-src>
              <add source="scriptsrcconfig" />
            </script-src>
            <style-src>
              <add source="stylesrcconfig" />
            </style-src>
            <report-uri>
              <add report-uri="/reporturi" />
              <add report-uri="https://w-w.üüüüüü.de/réport?p=a;b," />
            </report-uri>
          </content-Security-Policy>
        </securityHttpHeaders>
      </httpHeaderSecurityModule>
    </nwebsec>
  </location>
  <!-- ReSharper restore WebConfig.RedundantLocationTag -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>